.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Las &copy;
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{href: root_path} Home
      - if session[:id].present?
        %ul.nav.navbar-nav
          %li
            = link_to 'Logout', login_path(id: session[:id]), method: :delete

